


html, body{
    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    padding: 0; 

}


#global-header {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-template-columns: 100fr auto 100fr;

}

#search-form{
    position: relative; 
    width: 250px; 
}

#search-form input[type="search"] {
    color: black;
    box-sizing: border-box; 
    width: 100%;
    padding-right: 40px;
    border: 1,5px solid; 
    height: 30px;
    padding: 15px; 
    border-radius: 20px;
    font-size: 20px; 

}

#search-form button#search-btn {
    background-color: transparent; 
    transform: translateY(-50%);
    border: 0; 
    cursor: pointer;
    border-radius: 20px; 
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 55%;
}

#search-form button#search-btn:hover {
    background-color: grey;
} 


.menypunkter, .menypunkterb {
    align-items: center; 
    justify-content: center;
    display: flex; 
    flex-direction: column; 
}

.menypunkter a, .menypunkterb a {
    color: black; 
    text-decoration: none; 
    font-size: 15px; 
    margin: 5px 0; 

.menypunkter a:hover, .menypunkterb a:hover {
    color: #333; 
    text-decoration: none; 

.mainLogo{
    display: block; 
    max-width: 100%;
    font-size: 2rem; 

}

a.logo{
    margin-top: 2px;
    margin-bottom: 2px;
    order: 1;
    text-decoration: none;
    color: black;

}



.menypunkterb{
    order: 2;
}


.handlekurv{
    order: 4;
    color: rgb(0, 0, 0);
    display: flex;
    gap: 7px;
}



/*main på index.html*/
.banner {
    background: linear-gradient(rgba(32, 24, 32, 0.5), rgba(128, 0, 128, 0.5)), 
    url("/img/kirke.jpg") center/cover no-repeat;
    display: flex; 
    flex-direction: column;
    width: 100%; 
    padding-left: 250px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 20px;
    box-sizing: border-box; 
    justify-contet: center; 
    align-items: flex-end;
    text-align: right;
    height: 600px; 
    font-weight: bold;
}

.banner h3 {
    font-size: 2rem; 
}


.banner p {
    margin-bottom: 40px; 
    max-width: 500px; 
    font-size: 1rem; 
    line-height: 1.1; 
}


.seMer{
    color: rgb(0, 0, 0);
    border: 1px solid black;
    margin: 5px;
    padding: 10px 25px;
    font-size: 15px;
    cursor: pointer; 
    justify-content: space-between;
    line-height: 1.2;
    border-radius: 30px; 
 
}

.seMer:hover{
    color:rgb(255, 255, 255)
    background-color: black;
}


.mestPopu{
    padding: 20px; 
    text-align: center;    
}

.mestPopu h1{
    font-size: 30px;
    padding-bottom: 20px;
    margin: 20px;
}

.filter-btn{
    color: rgb(0, 0, 0);
    margin: 5px;
    cursor: pointer; 
    justify-content: space-between;
    line-height: 1.2;
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 30px; 
    font-size: 15px;
    width: 120px;
}

.filter-btn:hover{
    color:rgb(255, 255, 255)
    background-color: black;

}



.produkt-kort, h3, p {
    font-size: 1rem;
    flex-wrap: wrap;
}

.produkt-kort { 
    display: flex;
    align-items: left;
    box-sizing: border-box;
    justify-items: center;
    justify-content: center;
    padding-top: 10px;

}


.hjerte {
    color: red; 
    position: absolute; 
    right: 30px;
    font-size: 1.5rem; 
    cursor: pointer; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 50%; 
    padding: 4px; 
}


.fa-heart:hover {
    color: darkred; 
    transition: all 0.5s ease; 
    transform: scale(1.2); 
}


.popuKat {
    flex-direction: column; 
    gap: 10px; 
    display: flex; 
    align-items: center;
    margin: 20px; 
}



.kat1, .kat2, .kat3, .kat4, .kat5 p{
    padding-bottom: 20px;
}

.popuKat .kat1, .kat2, .kat3, .kat4, .kat5 {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 2px solid black; 
    display: flex;
    border-radius: 10px; 
    max-width: 150px 0px; 
    height: 350px;    
    width: 300px;  
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 10px;
    margin-bottom: 10px;
}






.anmldelser {
    text-align: center;
    overflow: hidden;
    padding: 20px;
}

.anmldelser h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.anmeldelseskort {
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    padding: 10px;
    display: flex; 
    gap: 20px; 
    scrollbar-width: none; 
}

.anmeldelseskort::-webkit-scrollbar {
    display: none; 
}



/* Styling for hvert kort */
.anmeldelseskort article {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    scroll-snap-align: star;
    text-align: left;
    flex: 0 0 200px; 
    border-radius: 10px;
    padding: 15px;

}

/* Bilde styling */
.anmeldelseskort article img {
    border: 2px solid #ddd; 
    width: 80px; 
    object-fit: cover; 
    height: 80px; 
    border-radius: 50%; 

}

/* Tekst i kortene */
.anmeldelseskort article h5 {
    font-size: 0.9rem;
    margin-bottom: 3px;
}

.anmeldelseskort article p {
    color: #333;
    padding-top: 10px;
    font-size: 0.9rem;

}




/*Checkout handlekurven*/
main {
    font-family: Arial, sans-serif;
    padding: 10px;
}


.checkoutliste {
    gap: 10px; 
    display: flex;
    flex-direction: column;

}


.checkoutliste h2 {
    margin-bottom: 20px;
    padding-left: 40px;
    font-size: 1.8rem;
}


.checkoutbilde {
    object-fit: cover; 
    width: 150px;
    height: auto;

}


figcaption {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    flex: 1; 
}


figcaption h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: bold;
}


figcaption .pris {
    color: #333;
    font-size: 1rem;
    margin-bottom: 5px;
}

figcaption .Farge {
    color: #666;
    font-size: 1 rem;
    margin-bottom: 10px;
}


.str {
    gap: 10px; 
    align-items: center; 
    margin-top: 10px;
    display: flex;
}

/* Styling for etiketter */
.str label {
    color: #333;
    font-size: 0.9rem;
}

/* Styling for dropdown og input-feltene */
.str select, .str input {
    font-size: 0.9rem; /* Tekststørrelse */
    width: 60px; /* Bredde */
    border: 1px solid #ddd; /* Lys grå kant */
    border-radius: 5px; /* Runde hjørner */
    cursor: pointer; /* Klikkbar markør */
    padding: 5px; /* Innvendig avstand */

}


.str select {
    background-color: rgb(209, 209, 209);
}


.str input[type="number"] {
    -moz-appearance: textfield; 
    -webkit-appearance: number-input; 
    text-align: center;
    appearance: number-input; 
}

/* Justering av opp- og ned-piler */
.str input[type="number"]::-webkit-inner-spin-button,
.str input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: inner-spin-button;
    margin: 0; 
    opacity: 1;
}

.str input[type="number"]::-moz-inner-spin-button {
    -moz-appearance: inner-spin-button; 
    opacity: 1;
    
}



.ik {
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;

    
}

.ik i:hover {
    color: #953131;
    cursor: pointer;
}


.checkoutliste, .pers, .Kontaktinformasjon, .leveres, .betal, .personsvern {
    margin-bottom: 20px;
    font-size: 1.8rem;
    margin-bottom: 20px; 
    font-family: Arial, sans-serif;
    padding: 20px;
    font-size: 1.8rem;

}

.saveButton, .cancelButton{
    align-items: center;
    width: 100%;
    background-color: #333; 
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    padding: 10px;
    border: none;

}

h3 {
    display: flex;
    align-items: center;
    gap: 10px; 
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;

}

label {
    color: #333; 
    display: block; 
    font-size: 1rem;
    margin-bottom: 5px;
 
}

input {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1rem;
    box-sizing: border-box; 
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

}

input::placeholder {
    color: #aaa;
    padding-left: 10px;

    
}

input[type="text"], input[type="email"], input[type="tel"] {
    color: #333;
    background-color: #f9f9f9; 

}

input:focus {
    border-color: #555;
    outline: none;
}


button:hover {
    background-color: #555; 
    
}

a:hover {
    text-decoration: underline;
}


#kortnummer {
    -moz-appearance: textfield; 
    border-radius: 5px; 
    text-align: left;
    background-color: #fff;
    -webkit-appearance: none; 
    appearance: none; 
    width: 100%; 
    padding-right: 15px; 
    font-size: 1rem;
    box-sizing: border-box; 
    border: 1px solid #ddd; 
 
}

#kortnummer::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button; 
    opacity: 1; 
}

#kortnummer::-moz-inner-spin-button {
    -moz-appearance: inner-spin-button; 
    opacity: 1; 
}

.Kontaktinformasjon {
    border-top: #fff;
    border: 1px solid #ddd; /* Lys grå kant */  
    margin-left: 20px;
    margin-right: 20px;

}
.pers { 
    border-bottom: #fff;
    border: 1px solid #ddd; 
    margin-left: 20px;
    margin-right: 20px;

}
.ekspress, .standard, .hentepakke, .leveres, .betal, .personsvern, .checkoutliste {
    border: 1px solid #ddd; 
    margin: 20px;   
}

.personvern .h1, .personvern ,yp {
    text-align: center; 
    margin: 10px 0; 
}



.betalingsseksjon {
    border: 1px solid #ddd; 
    border-radius: 10px; 
    max-width: 400px;
    margin: 20px auto; 
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.betalingsseksjon p {
    color: #333;
    margin: 10px 0; 
    font-size: 1rem;

}

.betalingsseksjon h1 {
    color: black;
    font-size: 2rem; 
    font-weight: bold;
    margin: 10px 0;
  
}

.fullfør-knapp {
    background-color: #333; 
    color: white; 
    font-size: 1rem;
    cursor: pointer;
    margin: 15px 0;
    width: 100%; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 

}

.fullfør-knapp:hover {
    background-color: #555;
}

.bekreftelse-tekst {
    color: #666;
    line-height: 1.5; 
    font-size: 0.9rem;
    margin-top: 20px;
}

.nyhetsbrev {
    color: #333;
    font-size: 0.9rem;
    text-align: left;
    display: block; 
    margin: 10px 0;
    
}

.nyhetsbrev input {
    margin-right: 10px; 
}




.produkter {
    gap: 20px; 
    align-items: stretch; 
    display: flex;
    padding: 40px;
}


.lite {
    flex: 1; 
    gap: 10px; 
    display: flex;
    flex-direction: column; 
}

.lite img {
    width: 100%;
    height: 100%;
    flex: 1;
    object-fit: cover; 
    border-radius: 5px; 
    border: 2px solid #ddd; 

}

/* Stort bilde */
.stortbilde {
    border-radius: 5px; 
    flex: 2; 

}

.stortbilde img {
    object-fit: cover; 
    border-radius: 5px; 
    width: 100%;
    height: 100%;

}





.størr {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 10px; 
}

.addhandlekurven, .submit {
    flex: 1;
    text-align: center;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    background-color: #dd1717;
    color: white; 
}


.størrelse, .addhandlekurven {
    width: 100%;
}


.altproduktinformasjon{
    margin: 40px;
}



.størrelse {
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    color: #333; 
    padding: 10px; 
    margin-bottom: 15px; 
    border-radius: 5px; 
    cursor: pointer; 


    
    
}


.addhandlekurven {    
    color: #fff; 
    background-color: #000; 
    font-size: 1rem; 
    margin-right: 10px; 
    padding: 12px;
    border: none; 
    font-weight: bold; 
    cursor: pointer; 
    border-radius: 5px; 
  
}


.submit {
    width: 60px;    
    height: 60px;
    
}

.submit i {
    color: #000; 
    font-size: 1rem; 

    
        
}
.submit:hover {
    background-color: #f0f0f0; 
    border-color: #aaa; 
}


.produkt-informasjonssted {
    border-top: 1px solid #ddd;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

}


.section-title {    
    font-weight: bold;
    cursor: pointer;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    align-items: center;
    font-size: 1rem;

}



details summary::-webkit-details-marker {
    display: none; 
}

details[open] .section-title::after {
    color: #000;
    content: "–"; 
    font-size: 1.5rem;
}

details .section-title::after {
    color: #000;
    margin-left: 10px;
    content: "+"; 
    font-size: 1.5rem;
}


.reviews {
    display: flex;
    gap: 10px;
    align-items: center;
}

.stars {
    font-size: 1.2rem;
    color: gold;
}

.rating {
    font-size: 1rem;
    color: #333;
}



.produktslider h1{
    padding-left: 50px;
}

.lignendeproduktk {
    margin: 50px;
    white-space: nowrap; 
    display: flex;
    padding: 10px;
    scrollbar-width: none; 
    overflow-x: auto; 

}

.lignendeproduktk::-webkit-scrollbar {
    display: none; 
}

.lignendeproduktk {
    scroll-snap-type: x mandatory; 
    scrollbar-width: thi
    display: flex; 
    gap: 10px; 

}

.lignendeproduktkort {
    border-radius: 20px;
    background-color: #fff;
    position: relative; 
    flex-direction: column; 
    scroll-snap-align: start; 
    display: flex;
    width: 250px; 
    text-align: center; 


}

/* Bildestørrelse */
.lignendeproduktkort img {
    object-fit: cover; 
    border-radius: 20px; 
    width: 100%; 
    height: 200px;     
}


.hjerteikon {
    background-color: rgba(0, 0, 0, 0.6);
    color: white; 
    padding: 5px; 
    border-radius: 50%; 
    cursor: pointer; 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    font-size: 1.5rem; 
}


.hjerteikon:hover {
    background-color: rgba(0, 0, 0, 0.8); 
    transition: all 0.3s ease; 
    transform: scale(1.1); 
}





.lignendeproduktkort figcaption {
    font-size: 1rem;
    text-align: left;
    display: flex; 
    flex-direction: column; 
    padding: 10px;

}

/* Rad for produktnavn og pris */
.lignendeproduktkort .produktinfo {
    margin-bottom: 10px; 
    gap: 30px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

/* Produktnavn styling */
.lignendeproduktkort h3 {
    color: #333;
    font-size: 1rem;
    margin: 0;
}

/* Pris styling */
.lignendeproduktkort .pris {
    color: #555;
    font-size: 0.9rem;
    margin: 0; 
    white-space: nowrap; 
}






/* Footer */
footer {
    background-color: #333;
    color: white;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
}

footer .footer-content {
    gap: 30px;
    flex-wrap: nowrap; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row; 
}

footer .footer-content section {
    min-width: 200px; 
    flex: 1;
}

footer .logo-footer {
    text-align: left;
    margin-bottom: 20px;
}

footer .sosialemedier-footer {
    margin-top: 20px;
}

footer .sosialemedier-footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer .sosialemedier-footer a i {
    transition: color 1.3s ease;
    font-size: 15px;
}

footer .sosialemedier-footer a:hover i {
    color: #00aced;
}

footer h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

footer p {
    font-size: 14px;
    margin: 5px 0;
}

footer .footer-content {
    align-items: flex-start;
    gap: 15px;
    flex-direction: row; 
    justify-content: space-between;
}

footer .footer-content section {
    min-width: 150px; 
    flex: 1;
}    




    

/* Desktop */
@media (min-width: 1200px) {
    #global-header { 
        display: flex;
        grid-template-columns: none;
        padding: 20px 10px;
        flex-direction: row;
        justify-content: space-between;
    }


    #search-form input {
        width: 300px; 
    }

   

    .menypunkter, .menypunkterb {
        gap: 80px; 
        flex-direction: row;
    }

 
    .banner h3 {
        font-size: 2.5rem; 
    }

    .popuPro {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr); 
    }


    .popuKat {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .kat {
        height: 200px;
    }

    .kategori3 {
        grid-column: span 2; 
        height: 400px; 
    }

    /* Anmeldelser */
    .anmeldelseskort {
        display: grid;
        gap: 20px;
        overflow: hidden; 
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    /* Footer */
    .footer-content {
        justify-content: space-between;
        padding: 40px;
        display: flex;
    }

    .kontakt-footer, .snarvei-footer, .sosialemedier-footer {
        width: 30%; 
    }




    .produkt-kort {
        display: grid;
        grid-template-rows: repeat(2, auto); 
        grid-template-columns: repeat(3, 1fr); 
        padding: 20px; 
        gap: 20px; 
        justify-content: center; 
    }

    .lignendeproduktkort {
        background-color: #fff;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        overflow: hidden;
    }



    .hjerteikon {
        background: rgba(0, 0, 0, 0.7); 
        top: 10px;
        right: 10px;
        position: absolute;
        color: #fff;
        padding: 5px;
        font-size: 1.5rem;
        border-radius: 50%; 
        cursor: pointer;
        
    }

    .produktinfo {
        display: flex;
        margin-top: 10px;
        justify-content: space-between; 
    }

    .produktinfo h3 {
        color: #333;
        font-size: 1rem;
    }

    .produktinfo .pris {
        color: #555;
        font-size: 1rem;
        white-space: nowrap; 
    }

    .rating {
        font-size: 0.9rem;
        justify-content: center;
        align-items: center;
        color: #555;
        display: flex;
        margin-top: 5px;
        
    }


    .anmldelser {
        text-align: center;
        overflow: hidden;
        padding: 20px;
        
    }
    
    .anmldelser h2 {
        margin-bottom: 20px;
        font-size: 1.8rem;
    }
    
    .anmeldelseskort {
        display: flex;
        gap: 20px;
        scrollbar-width: none; 
        overflow-x: auto;
        scroll-snap-type: x mandatory; 
        padding: 10px;
        }
    
    .anmeldelseskort::-webkit-scrollbar {
        display: none; 
    }
    
    .popuKat {
        align-items: flex-start;
        display: grid;
        gap: 0px; 
        margin: 30px;
        grid-template-areas: 
            "kat1 kat2 kat3"
            "kat4 kat4 kat5";

        
    }
    

    .k {
        margin: 20px;
        text-align: center;
    }
    
    .k h3 {
        margin-bottom: 10px;
        justify-content: center;
        font-size: 1.8rem;
       
    }
    
    .k p {
        color: #555;
        font-size: 1rem;
        margin-bottom: 20px;
    }
    

    .kat1, .kat2, .kat3, .kat4, .kat5 {       
        text-align: center;
        background-size: cover;
        justify-content: center;
        align-items: center;
        background-position: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        font-weight: bold;
        font-size: 1.2rem;
        display: flex;
        border-radius: 10px; 
        color: #fff; 
 

    }
    

    .kat1 {
        background-color: #1abc9c; 
        grid-area: kat1;
        height: 200px;
        
    }
    
    .kat2 {
        background-color: #3498db; 
        grid-area: kat2;
    }
    
    .kat3 {
        background-color: #e74c3c; 
        grid-area: kat3;
        height: 500px;
        grid-column: span 1; 
    }
    
    .kat4 {
        background-color: #9b59b6; 
        grid-area: kat4;
        width: 700px;
        

    }
    
    .kat5 {
        background-color: #f39c12; 
        grid-area: kat5;
        height: 100px;
    }
    



    
 

    .altproduktinfo {
        padding: 20px; 
        margin: 15px;
        display: flex; 
        gap: 20px;
        align-items: stretch;
        justify-content: center; 
    }
    
    .produkter {
        display: flex; 
        align-items: stretch; 
        flex-wrap: wrap; 
        height: 
        gap: 20px; 
        padding: 20px; 
      
    }
    
    .infoomkjole, .produkt-informasjonssted, .altproduktinformasjon {
        display: flex;
        flex: 100%; 
        flex-direction: column; 
    }

    .altproduktinformasjon {
        overflow-y: auto;
        box-sizing: border-box; 
        max-height: 700px; 
    }


    .infoomkjole, .produkt-informasjonssted {
        margin-bottom: 80px; 
    }


    .produktslider .h1{
        background-color: #00aced;
    }
    

    
    .scrollable {
        overflow-y: auto; 
        max-height: 400px; 
        scrollbar-color: #00aced #f0f0f0; 
        scrollbar-width: thin; 
    }
    
    .scrollable::-webkit-scrollbar-thumb {
        border-radius: 5px; 
        background: #00aced; 
    }
    
    .scrollable::-webkit-scrollbar-track {
        background: #f0f0f0;
    }


    .lignendeproduktk {
        overflow-x: auto;
        padding: 20px; 
        
    }
    
    .lignendeproduktkort { 
        background-color: #fff;
        border-radius: 10px; 
        flex: 0 0 auto; 
        height: auto; 
       
    }

    .ch{
        margin: 80px;
    }


    .opplysninger {
        width: 100%; 
        display: flex;
        flex-direction: column; 
        gap: 15px; 
    }


    .Kontaktinformasjon h4 {
        font-size: 1.2rem;
        margin-bottom: 10px;
        color: #333;
    }
    
    .Kontaktinformasjon label {
        display: block; 
        margin-bottom: 15px;
        font-size: 0.9rem;
        color: #333;
    }
    
    .Kontaktinformasjon input[type="email"],
    .Kontaktinformasjon input[type="tel"] {
        width: 100%; 
    }
    
  
    
    .saveButton {
        color: #fff;
        background-color: #1de469;
        
    }
    
    .cancelButton {
        color: #3d3333;
        background-color: #ddd;
        
    }
    
    button:hover {
        opacity: 0.8;
    }


    
    .personsvern, .nyhetsbrev {
        text-align: center; 
    }
    



    .utcvc{
    flex-direction: column;
    display: flex;    
    }


    footer .footer-content {
        align-items: baseline;
        padding: 0px;
    }    

    
}













